<p id="notice"><%= notice %></p>

<p>
  <strong>Tarifa:</strong>
  <%= @estac_serv_adic.tarifa %>
</p>

<p>
  <strong>Estacionamiento:</strong>
  <%= @estac_serv_adic.estacionamiento %>
</p>

<p>
  <strong>Serv adicionale:</strong>
  <%= @estac_serv_adic.serv_adicionale %>
</p>

<%= link_to 'Edit', edit_estac_serv_adic_path(@estac_serv_adic) %> |
<%= link_to 'Back', estac_serv_adics_path %>
